services:
    nginx-proxy-manager:
        image: 'jc21/nginx-proxy-manager:latest'
        container_name: "nginx-proxy-manager"
        volumes:
            - "./data:/data"
            - "./letsencrypt:/etc/letsencrypt"
        restart: "unless-stopped"
        env_file:
            - docker_env
        environment:
            DB_SQLITE_FILE: "/data/database.sqlite"
            DISABLE_IPV6: 'true'  # Opcional: deshabilitar IPv6
        networks: 
            - "mlknet"
        ports:
            - "80:80"
            - "443:443"
            - "8081:81"
        healthcheck:
            test: ["CMD", "/bin/check-health"]
            interval: 10s
            timeout: 3s
networks:
    mlknet:
        external: true
